
<!-- SIDE NAV to come. Requires pointing to new main.handlebar or creating a new solution for the mobile menu/responsiveness.
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="sidenav2">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>

            <li>
                <a href="#">Apointments</a>
            </li>
            <li>
                <a href="#">Pets</a>
            </li>
            <li>
                <a href="#">Homes</a>
            </li>
        </ul>
    
        <ul id="nav-mobile" class="sidenav2">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#">Apointments</a>
            </li>
            <li>
                <a href="#">Pets</a>
            </li>
            <li>
                <a href="#">Homes</a>
            </li>           
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        
    </div>
    
</nav>
-->
<!-- DASHBOARD BEGINS -->
    <section class="sction section-stats center">
        <div class="row">
            <div class="col 13 m12 s12">
                <div class="card-panel red lighten-1 funky grey-text">
                    <ul class="collection with-header pending-posts">
                        <li class="collection-header">
                            <h5>Homes Center</h5>
                        </li>
                        <table class="white grey-text">
                            <tr>
                                <th>Street Address</th>
                                <th>Address 2</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>Emerg. Phone #</th>
                            </tr>
                        {{#each data}}
                            <tr>
                                <td class="title">{{this.streetAddress1}}</td> 
                                <td class="title">{{this.streetAddress2}}</td> 
                                <td class="title">{{this.city}}</td> 
                                <td class="title">{{this.state}}</td>
                                <td class="title">{{this.zip}}</td>
                                <td class="title">{{this.emergContPhone}}</td>
                                <td>
                                    <a href="/userProfileAdmin/{{this.user_id}}" class="view blue-text">View User</a>
                                </td>
                                <!-- For Pet Profiles, To Come!
                                <a href="/userProfileAdmin/Pet{{this.pet_id}}" class="view blue-text">View Pet(s)</a> |
                                <a href="/userProfileAdmin/Home{{this.home_id}}" class="view blue-text">View Home(s)</a>
                                --->
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

