<!-- SIDE NAV to come. Requires pointing to new main.handlebar or creating a new solution for the mobile menu/responsiveness.
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <ul id="nav-mobile" class="sidenav2">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>

            <li>
                <a href="#">Apointments</a>
            </li>
            <li>
                <a href="#">Pets</a>
            </li>
            <li>
                <a href="#">Homes</a>
            </li>
        </ul>
    
        <ul id="nav-mobile" class="sidenav2">
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li>
                <a href="#">Users</a>
            </li>
            <li>
                <a href="#">Apointments</a>
            </li>
            <li>
                <a href="#">Pets</a>
            </li>
            <li>
                <a href="#">Homes</a>
            </li>           
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        
    </div>
    
</nav>
-->
<!-- USER PROFILE BEGINS -->
    <section class="sction section-stats center">
        <div class="row">

            <div class="col 13 m6 s12">
                <div class="card-panel red lighten-1 grey-text">
                    <div class="container">
                        <div class="row">
                            <div class="card mt-6">                             
                                <div class="card-image">
                                    <img class="profile" src="/images/petProfile.jpg">
                                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                                </div>
                                <div class="card-content">
                                    <span class="card-title grey-text"><h5>{{data.firstName}} {{data.lastName}}</h5></span>
                                    <span class="card-title grey-text">Phone: {{data.cellPhone}}</span>
                                    <span class="card-title grey-text">Email: {{data.cellPhone}}</span>
                                    <span class="card-title grey-text">Client Status: {{data.status}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col 13 m6 s12">
                <div class="card-panel red lighten-1 white-text">
                    <i class="material-icons small">date_range</i> 
                        <h5>Upcomming Appointments</h5> 
                        <p>
                            Set up an appointment with Sam!    
                        </p>
                        <input placeholder="Select a Date" type="text" class="datepicker grey-text" id="datepicker_">
                        <input placeholder="Select a Time" type="text" class="timepicker gret-text">
                        <button id="submitAppt" class="btn btn-primary float-right">Request!</button>
                </div>
            </div>
            <div class="col 14 m6 s12 scroll-box">
                <ul class="collection with-header pending-posts">
                    <li class="collection-header">
                        <h5>Past Appoinments</h5>
                    </li>
                </ul>
            </div>
            <div class="col 13 m6 s12">
                <div class="card-panel red lighten-1 white-text">
                    <i class="material-icons small">home</i> 
                        <h5>User Homes</h5>
                        <a class="btn" href="/formHome/">Add A Home</a>
                </div>
            </div>
            <div class="col 13 m6 s12">
                <div class="card-panel red lighten-1 white-text">
                    <i class="material-icons small">pets</i> 
                        <h5>User Pets</h5>
                        <a class="btn" href="/formPet/">Add A Pet</a>
                </div>
            </div>
        </div>          
    </section>
</div>

